<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} – Page {{ current_page }}{% endif %}{% if shop.name %} – {{ shop.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'theme.js' | asset_url | script_tag }}
    {{ content_for_header }}
  </head>
  <body class="template-{{ template | handleize }}">
    {% section 'header' %}
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
